@keyframes heartFull {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
* {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

.blocPage {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 21px;
}

h4 {
  font-family: "Shrikhand";
}

h5 {
  font-size: 20px;
  font-weight: 300;
}

p {
  font-size: 18px;
}

header {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  header {
    height: 100px;
  }
}
header .iconBack {
  position: absolute;
  left: 25px;
}
header .iconBack .fa-arrow-left {
  font-size: 20px;
}
header .header-logo {
  height: 44px;
}
header .header-logo img {
  height: 100%;
}

footer {
  background-color: #353535;
  width: 100%;
  height: 200px;
  padding-top: 25px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  footer {
    height: 100px;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    padding-bottom: 25px;
  }
}
footer h4 {
  color: white;
  border: none;
  text-decoration: inherit;
}
footer .footer-logo {
  height: 25px;
  padding-left: 25px;
}
@media screen and (min-width: 1200px) {
  footer .footer-logo {
    order: 1;
    padding-right: 25px;
    padding-left: 50px;
  }
}
footer span {
  height: 100%;
  color: white;
}
footer a {
  display: flex;
  color: white;
  gap: 10px;
  padding-left: 25px;
}
@media screen and (min-width: 1200px) {
  footer a {
    padding-left: 10px;
  }
}

.imagemenu {
  position: relative;
  width: 100%;
  height: 250px;
}
.imagemenu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.imagemenu .conteneurtitre {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 70px;
  background: #f6f6f6;
  border-radius: 25px 25px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 35px;
}
.imagemenu .conteneurtitre h4 {
  font-size: 35px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.imagemenu .conteneurtitre .heart {
  top: 30px;
  position: relative;
}
.imagemenu .conteneurtitre .heart .fa-heart {
  font-size: 24px;
  position: absolute;
  right: 20px;
  bottom: 0px;
}
.imagemenu .conteneurtitre .heart .fa-regular {
  z-index: 2;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.imagemenu .conteneurtitre .heart .fa-regular:hover {
  opacity: 0;
  z-index: 1;
}
.imagemenu .conteneurtitre .heart .fa-regular:hover + .fa-solid {
  opacity: 1;
  z-index: 2;
  animation: heartFull 0.5s linear both;
}
.imagemenu .conteneurtitre .heart .fa-solid {
  z-index: 1;
  opacity: 0;
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.imagemenu .conteneurtitre .heart .fa-heart {
  font-size: 30px;
}

.sectionmenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionmenu .conteneurprincipal {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  background-color: #F7F7F7;
  top: 300px;
}

.conteneurmenu {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
.conteneurmenu .titremenu {
  padding-top: 40px;
  width: 100%;
}
.conteneurmenu .entreesoulign {
  border-bottom: 3px solid #99E2D0;
}
.conteneurmenu .cardmenu {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  overflow: hidden;
  animation: listMenuAnim 1s both;
}
.conteneurmenu .cardmenu .cardText {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: auto;
  flex: 1;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.conteneurmenu .cardmenu .cardText h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.conteneurmenu .cardmenu .cardText p {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.conteneurmenu .cardmenu .prix {
  width: 70px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 15px;
}
.conteneurmenu .cardmenu .bandeau {
  width: 70px;
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -70px;
  transform: translateX(100%);
  transition: all 0.4s;
}
.conteneurmenu .cardmenu .bandeau .fa-circle-check {
  font-size: 20px;
  color: white;
  background: white;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.conteneurmenu .cardmenu:hover > .bandeau {
  transform: translateX(0%);
  margin-right: 0px;
  animation: reverse;
}

.commandebouton {
  height: 50px;
  width: 220px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(to bottom right, #9356DC, #FF79DA);
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.commandebouton:hover {
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.5);
}

.blocbouton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

@keyframes listMenuAnim {
  0% {
    opacity: 0;
    transform: translateY(75%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
.cardmenu:nth-child(2) {
  animation-delay: 0.2s;
}

.cardmenu:nth-child(3) {
  animation-delay: 0.4s;
}

.cardmenu:nth-child(4) {
  animation-delay: 0.6s;
}

.cardmenu:nth-child(5) {
  animation-delay: 0.8s;
}

/*# sourceMappingURL=restaurants.css.map */
