@charset "UTF-8";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@keyframes heartFull {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
* {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

.blocPage {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 21px;
}

h4 {
  font-family: "Shrikhand";
}

h5 {
  font-size: 20px;
  font-weight: 300;
}

p {
  font-size: 18px;
}

header {
  width: 100%;
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (min-width: 1200px) {
  header {
    height: 100px;
  }
}
header .header-logo {
  height: 44px;
}
header img {
  height: 100%;
}

footer {
  background-color: #353535;
  width: 100%;
  height: 200px;
  padding-top: 25px;
  gap: 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1200px) {
  footer {
    height: 100px;
    flex-direction: row;
    align-items: end;
    justify-content: end;
    padding-bottom: 25px;
  }
}
footer h4 {
  color: white;
  border: none;
  text-decoration: inherit;
}
footer .footer-logo {
  height: 25px;
  padding-left: 25px;
}
@media screen and (min-width: 1200px) {
  footer .footer-logo {
    order: 1;
    padding-right: 25px;
    padding-left: 50px;
  }
}
footer span {
  height: 100%;
  color: white;
}
footer a {
  display: flex;
  color: white;
  gap: 10px;
  padding-left: 25px;
}
@media screen and (min-width: 1200px) {
  footer a {
    padding-left: 10px;
  }
}

header {
  display: flex;
  align-items: center;
}

.iconBack {
  position: absolute;
  left: 25px;
}

.fa-arrow-left {
  font-size: 20px;
}

.sectionmenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sectionmenu h4 {
  font-size: 35px;
}
.sectionmenu .imagemenu {
  position: relative;
  width: 100%;
  height: 70%;
}
.sectionmenu img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sectionmenu .conteneurprincipal {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  background-color: #F7F7F7;
  top: 300px;
}
.sectionmenu .conteneurtitre {
  top: 400px;
  background: white;
  border-radius: 25px;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row;
  font-size: 35px;
  align-items: center;
  gap: 80px;
}
.sectionmenu .conteneurtitre h4 {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.sectionmenu .conteneurtitre .heart {
  top: 30px;
  position: relative;
}
.sectionmenu .conteneurtitre .heart .fa-heart {
  font-size: 24px;
  position: absolute;
  right: 20px;
  bottom: 0px;
}
.sectionmenu .conteneurtitre .heart .fa-regular {
  z-index: 2;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.sectionmenu .conteneurtitre .heart .fa-regular:hover {
  opacity: 0;
  z-index: 1;
}
.sectionmenu .conteneurtitre .heart .fa-regular:hover + .fa-solid {
  opacity: 1;
  z-index: 2;
  animation: heartFull 0.5s linear both;
}
.sectionmenu .conteneurtitre .heart .fa-solid {
  z-index: 1;
  opacity: 0;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  background-clip: content-box;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
.sectionmenu .conteneurtitre .heart .fa-heart {
  font-size: 30px;
}

.conteneurmenu {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;
}
.conteneurmenu .titremenu {
  padding-top: 40px;
  width: 100%;
}
.conteneurmenu .entreesoulign {
  border-bottom: 3px solid #99E2D0;
}
.conteneurmenu .cardmenu {
  cursor: pointer;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  gap: 5px;
  padding: 15px;
}
.conteneurmenu .cardmenu:active {
  transform-origin: right 50%;
}
.conteneurmenu .cardmenu .prix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 15px;
}

.commandebouton {
  height: 50px;
  width: 220px;
  border: none;
  border-radius: 25px;
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 16px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
.commandebouton:hover {
  opacity: 0.85;
}

.blocbouton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

#mon-bouton {
  position: relative;
  background-color: #4CAF50;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
}

#mon-bouton span {
  display: block;
  position: relative;
  z-index: 2;
}

#mon-bouton #mon-bandeau {
  position: absolute;
  top: 0;
  right: -15%;
  width: 15%;
  height: 100%;
  background-color: #f1f1f1;
  z-index: 1;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

#mon-bouton:focus #mon-bandeau {
  right: 0;
  background-color: #e5f5e5;
}

#mon-bouton:focus #mon-bandeau i {
  animation: pulse 0.5s ease-in-out;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* Inclure la bibliothèque Font Awesome pour l'icône */

/*# sourceMappingURL=restaurants.css.map */
