.section2 {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  @include desktop-only {
    padding:80px;
  }
  .titresection2 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
  }

  .conteneurchoix {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 25px;
    @include desktop-only {
      flex-direction:row;
      gap:35px;
    }
  }
  .choix {
    width: 90%;
    height: 75px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
    background: $fond;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;

    &:hover {
      background-color: #f5edff;
      cursor: pointer;
    }
    .num {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 30px;
      height: 30px;
      margin-left: -15px;
      background-color: $violet;
      color: $blanc;
      border: 1px solid;
      border-radius: 50%;
    }

    .fa-mobile-screen-button,
    .fa-bars,
    .fa-store {
      color: $gris3;
      &:hover {
        color: $violet;
      }
    }
  }
}
