
$vert-clair: #99E2D0;
$vert-foncé:#008766;
$violet: #9356DC;
$bleu-clair : #89C8FA;
$bleu-foncé : #003A68;
$gris : #353535;
$blanc : #FFFF;
$gris2 : #EAEAEA;
$gris3 : #7E7E7E;
$fond : #F7F7F7;
$degrade : linear-gradient(to bottom right, #9356DC, #FF79DA);
$degradeInverse : linear-gradient(to bottom right, #FF79DA,  #9356DC );

$roboto : 'Roboto', sans-serif;

$Shrikhand : 'Shrikhand', sans-serif;
