
$vert-clair: #99E2D0;
$vert-foncé:#008766;
$violet: #9356DC;
$bleu-clair : #89C8FA;
$bleu-foncé : #003A68;
$gris : #353535;
$blanc : #FFFF;
$gris2 : #EAEAEA;
$gris3 : #7E7E7E;
$fond : #F7F7F7;
$degrade : linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%);

$roboto : 'Roboto', sans-serif;

$Shrikhand : 'Shrikhand', sans-serif;