* {
  font-family: "Roboto", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
}

.blocPage {
  @include flexColumn;
}

a {
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

h2 {
  font-size: 21px;
}

h4 {
    font-family: "Shrikhand";
}

h5 {
    font-size: 20px;
    font-weight: 300;
}

p {
  font-size: 18px;
}
