.sectionmenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .conteneurprincipal {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 30px;
    background-color: $fond;
    top: 300px;
  }

}

.conteneurmenu {
  display: flex;
  width: 90%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  padding: 20px;

  .titremenu {
    padding-top: 40px;
    width: 100%;
  }

  .entreesoulign {
    border-bottom: 3px solid $vert-clair;
  }

  .cardmenu {
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    overflow: hidden;
    .cardText{
      
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: auto;
      flex: 1;
    }


    .prix {
      width: 70px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: flex-end;
    }

    .bandeau{
      width: 70px;
      background-color: aqua;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: -70px;
    .fa-circle-check {
      
    }

  }
  
  &:hover > .bandeau{
    margin-right: 0px;
  }
}
}

.commandebouton {
  @include button-search;
}

.blocbouton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;}

  #mon-bouton {
    position: relative;
    width: 100%;
    color: white;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  }
  
  #mon-bouton h2 {
    display: block;
    position: relative;
    z-index: 2;
  }
  
  #mon-bouton #mon-bandeau {
    position: absolute;
    top: 0;
    right: -15%;
    width: 15%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
  }
  
  #mon-bouton:focus #mon-bandeau {
    right: 0;
    background-color: #99E2D0;
  }
  
  #mon-bouton:focus #mon-bandeau i {
    animation: pulse 0.5s ease-in-out;
  }
  
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
