footer {
    background-color: $gris;
    width: 100%;
    height: 200px;
    padding-top: 25px;
    gap:15px;
    display: flex;
    flex-direction: column;

    h3 {
        color: $blanc;
       border: none;
       text-decoration: inherit;
    }
    .footer-logo {
        height: 25px;
        padding-left: 25px;
    }

    span {
        height: 100%;
        color : $blanc;
    }

    a {
        display: flex;
        color: $blanc;
        gap:10px;
        padding-left: 25px;
    }

}