header {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @include desktop-only {
        height:100px;
    }
       
    .iconBack {
        position: absolute;
        left:25px;
     
    .fa-arrow-left {
        font-size : 20px;
    }
    }
    
    .header-logo {
        height: 44px;
        img {
            height: 100%;
        }
    }

    
}


