.section1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section2 {
    width: 100%;
    height: 440px;
    padding-left: 25px;
    padding-top : 50px;
    padding-right: 25px;
    display:flex ;
    flex-direction: column;
    gap : 25px;
}

.section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EAEAEA;
    padding-top:40px;
}

